/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
}
.robotoMono{
  font-family: 'Roboto Mono', monospace;
  line-height: 30px;
  font-size: 15px;
}
.robotoCondensedReg{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.robotoCondensedBold{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
}
.logoMain {
  display: block;
  margin: 0 auto;
  height: 30vh;
  padding-top: 5%;
}
.logoBanner {
  display: block;
  width: 30vw;
  /*margin: auto;*/
  background-color: white;
  padding: 4px;
}
.logoBanner-backgroundDiv {
  display: flex;
  padding: 1%;
  background-color: #212121;
  justify-content: space-between;
}
.button {
  border: none;
  padding: 20px 40px;
  text-transform: uppercase;
  background-color: #2D4279;
  color: white;
}
.button:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.viewButton {
  display: inline;
}
.link {
  text-decoration: none;
}
.link:hover {
  background-color: black;
  color: white;
}
.welcomeLink{
  text-decoration: none;
  color: white;
}
.formWrapper{
  text-align: center;
}
.form {
  width: 25vw;
  margin: 0 auto;
  text-align:center;
}
.formInput{
  display: block;
  border: none;
  border-bottom: 2px solid black;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 10% 0;
}
.formInput:focus{
  outline: none;
}
.resultsWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 85vw;
  margin: 0 auto;
}
.result{
  border: 1px solid black;
  width: 25%;
  margin: 2% auto;
  padding: 10px;
}
nav {
  float: right;
  display: flex;
  justify-content: space-evenly;
}
.logout, .profile {
  margin: 5px;
}
